
@media screen and (max-width: 1024px) {
    /* .content-play {
        height: 25vh;
    } */
    .pageview{
        max-width: 1024px;
    }
    .sec2{
        max-width: 100%;
    }
}
@media screen and (max-width: 950px) {
    .sec1{
        max-width: 100%;
    }
    .sec2{
        max-width: 100%;
    }
    .content-play {
        display: flex;
        text-align: center;
        align-items: center;
       
    }
    .img5{
        width: 100%;
    }
}
@media screen and (max-width: 825px) {
    .pageview{
        max-width: 825px;
    }
    .rules p,
    .timeline .content1 p {
        font-size: 16px;
    }
    #charger img {
        width: 50%;
    }
    .right::after {
        left: -3.77%;
    }
    .sec1{
        max-width: 100%;
    }
    .sec2{
        max-width: 100%;
    }
}
@media screen and (max-width: 770px) {
    .sec1{
        max-width: 100%;
    }
    .right::after {
        left: -4.125%;
    }
    .accordion-title p {
        font-size: 25px;
    }
    .sec2{
        max-width: 100%;
    }
    .img6{
        margin-top: 1%;
    }
}
@media screen and (max-width: 650px) {
    .sec1{
        max-width: 100%;
    }
    #address p {
        margin: 0;
        font-size: 15px;
    }
    .sec2{
        max-width: 100%;
    }
}
@media screen and (max-width: 580px) {
    .sec1{
        max-width: 100%;
    }
    .right::after {
        left: -5.5%;
    }
    .sec2{
        max-width: 100%;
    }
}
@media screen and (max-width: 550px) {
    .timeline .content p {
        font-size: 14px;
    }
    .right::after {
        left: -4.75%;
    }
    .plus, .minus {
        width: 70%;
    }
    .accordion-title p {
        font-size: 20px;
    }
    .accordion-content p {
        font-size: 18px;
    }
    .img5{
        margin-top: -6%;
    }
}
@media screen and (max-width: 450px) {
    .timeline .content p {
        font-size: 10px;
    }
    .timeline .content p {
        margin: 32px 0 0 0;
    }
    .address p{
        font-size: 10px;
    }
    .content-gift1{
        background-size: contain;
        max-width: 100%;
    }
    .img5{
        margin-top: -5%;
    }
    .img6{
        margin-top: 0%;
    }
    .gift{
       
    }
    .content-gift{
        font-size: 10px;
        margin-left: 7%;
    }
    h3{
        font-size: 14px;
    }
    .img8{
        margin-top: 1%;
    }
    .img10{
        width: 46%;
        margin-bottom: 8%;
    }
    .container-sec5{
        background-size: contain;
        max-width: 100%;
    }
    .img15{
        margin-top: -5%;
    }
    .content-event {
        font-size: 10px;
        margin-left: 7%;
    }
    .right::after {
        left: -5.5%;
    }
    .plus, .minus {
        width: 85%;
    }
    .accordion-title p {
        font-size: 15px;
    }
    .accordion-content p {
        font-size: 13px;
    }
    .accordion-title {
        width: 100%;
    } 
}
@media screen and (max-width: 376px){
    .img5{
        margin-top: -7%;
    }
}
@media screen and (max-width: 360px) {
    .timeline .content p {
        font-size: 10px;
    }
    .timeline .content p {
        margin: 32px 0 0 0;
    }
    .address p{
        font-size: 9px;
    }
    .content-gift1{
        background-size: contain;
        max-width: 100%;
    }
    .img6{
        margin-top: -1%;
    }
    .gift{
       
    }
    .content-gift{
        font-size: 10px;
        margin-left: 7%;
    }
    h3{
        font-size: 14px;
    }
    .img8{
        margin-top: 1%;
    }
    .img10{
        width: 42%;
        margin-bottom: 8%;
    }
    .container-sec5{
        background-size: contain;
        max-width: 100%;
    }
    .img15{
        margin-top: -9%;
    }
    .content-event {
        font-size: 10px;
        margin-left: 7%;
    }
    .img5{
        margin-top: -8%;
    }
}
@media screen and (max-width: 300px) {
    .right::after {
        left: -7.25%;
    }
}