@media (max-width:429px){
    .pageview{
        max-width: 429px;
    }
    .live-game{
        background-image: url(img/Frameboard.png);
        max-width: 429px;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
    }
    .gift{
        
    }
    .container-sec4{
        text-align: center;
    }
    .container-ticket{
        text-align: center;
    }
    .container a img{
        width: 18%;
    }
}
@media (max-width:414px){
    .pageview{
        max-width: 414px;
    }
    .live-game{
        background-image: url(/img/Frameboard.png);
        max-width: 414px;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
    }
    .gift{
        
    }
    .container-sec4{
        text-align: center;
    }
    .container-ticket{
        text-align: center;
    }
    .container a img{
        width: 18%;
    }
}
@media (max-width:375px){
    .pageview{
        background-size: 375px;
    }
    .live-game{
        
    }
    .container-sec4{
        text-align: center;
    }
    .container-ticket{
        text-align: center;
    }
    .container a img{
        width: 18%;
    }
    .img7{
        width: 100%;
    }
    .img14{
        width: 15%;
    }
    .img15{
        width: 15%;
    }
}