*{
    margin: 0;
    padding: 0;
}

.pageview{
    background-image: url(../img/Background.png);
    max-width: 60rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    scroll-behavior: smooth;
    background-position: top;
    overflow: hidden;
}

/* Topbar */
.logo{
    text-align: left;
    padding: 25px;
    margin: 0%;
}
.col-logo{
    text-align: center;
}
.img{
    width: 30%;
}
.img1{
    width: 50%;
}
.img2{
    width: 60%;
}
.img3{
    width:76%;
}
.img4{
    width: 85%;
}
.address p{
    text-align: start;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.content-address{
    width: 100%;
    display: flex;
    justify-content: center;
}
.address{
    display: flex;
    width: 85%;
    justify-content: center;
    align-items: center;
}
.address img{
    width: 30px;
    height: 30px;
    margin-right: 6px;
}
/* NavBar */
.container-nav{
}
.justify-content-between{
    justify-content: space-between!important;
}
.aligh-item-center{
    align-items: center;
}
.d-flex{
    display: flex;
}
.img5{
    width: 95%;
    margin-top: 8px;
}
.content-play{
    
    background-image: url(../img/Frameboard.png);
    height: auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 42px 23px 20px 23px;
}
.logo1:hover {
    animation: tada;
    animation-duration: 2s;
}
/* .playgame .content.active{
    background-color: #010d7c;
    border-radius: 0px 0px 13px 13px;
}
.container{
    top: 0%;
}
.container a img{
    width: 25%;
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 10px;
}
.container a p{
    position: absolute;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    z-index: 2;
    top: 20px;
    left: 118px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playgame{
    background-color: #fff0;
    border: solid #dee2e600;
}
.container a{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    font-size: 19px;
    font-weight: 900;
    color: white;
    padding: 18px 0 73px 50px;
    position: relative;
    padding-top: 40px;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
}
.container a::before{
    content: "";
    position: absolute;
    width: 40%;
    border-radius: 10px;
    z-index: 1;
    height: 76px;
    top: 15px;
    left: 110px;
    background-color: rgba(1, 13, 124, 0.80); 
    justify-content: center;
    text-align: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
}
.container a.active{
    background-color: #010d7c;
    padding-top: 40px;
    border-radius: 10px 10px 0 0;
}
.container a::before{
    content: "";
}
.container a::after{
    content: "";
    cursor: pointer;
    background-image: url(../img/Plus4.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    float:left;
    left: 50px;
    bottom: 50px;
    width: 35px;
    height:  35px;
    position: absolute;
    z-index: 99;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    animation: pulse;
    animation-duration: 2s;
}
.container a.active::after{
    content: "";
    cursor: pointer;
    background-image: url(../img/Plus-1.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    float: left;
    left:  50px;
    bottom: 50px;
    width:  35px;
    height:  35px;
    position: absolute;
    z-index: 99;
    border-radius:  50%;
    border: 1px solid #7288a2;
    animation: pulse;
    animation-duration: 2s;
} */

/* Khu vực Chơi game */
.logo1{
    width: 100%;
}
.plus, .minus {
    width: 55%;
    justify-self: center;
}
.plus:hover, .minus:hover {
    animation: pulse;
    animation-duration: 2s;
}
.minus {
    display: none;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s ease-in-out;
    transition: max-height 0.3s ease-in-out;
    font-size: 1rem;
    line-height: 1.7;
    border-radius: 0 0 10px 10px;
    background: rgba(1, 13, 124, 0.80);
}
.accordion-content p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 2.3;
    margin: 0;
    margin: 1.5rem;
}
.accordion {
    cursor: pointer;
    display: grid;
    grid-template-columns: 10% 60% auto;
    gap: 15px;
    align-items: center;
}
.item {
    width: 90%;
}
.accordion-title {
    justify-self: center;
    display: flex;
    border-radius: 10px;
    background-color: rgba(1, 13, 124, 0.80);
    width: 80%;
    height: 100px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.accordion-title p {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0;
}
.active .accordion-title {
    background: none;
    transition: 0.5s;
}
.active {
    background-color: rgba(1, 13, 124, 0.80);
    transition: 1s;
    border-radius: 10px 10px 0 0;
}
.playgame{
    
        gap: 20px;
        margin: 1.5rem 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    
}
/* Khu vực Chơi game */

.container .content{
    opacity: 0;
    padding:  0 1rem;
    max-height:  0;
    overflow:  hidden;
    clear: both;
    transition:  all 0.2s ease 0.15s;
}
.container .content p {
    font-size:  25px;
    font-weight: 600;
    color:  #fff;
    margin-left: 37px;
    margin-top: -3%;
} 
.container .content.active{
    opacity: 1;
    padding:  1rem;
    max-height: 100%;
    transition: all 0.2s ease 0.15s;
    background-color: #010d7c;
    border-radius:  0 0 13px 13px;
    margin-bottom: 10px;
}
.gift{
    
}
.content-gift{
    font-size: 25px;
    font-weight: 900;
    font-style: normal;
    color: #fff;
    background-color: #010d7c;
    padding: 20px 16px;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: 50px;
    max-width: 86%;
    line-height: 2.3;
}
.text1{
    display: flex;
    height: 10px;
}
.img6{
    width: 90%;
    margin-top: 25px;
}
.content-gift1{
    background-image: url(../img/Frameboard.png);
    height: auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 18px 23px 26px 23px;
}
.sec4{
    padding: 20px;
}
.container-sec4{
        text-align: center;
        display: block;
}


.img7{
    
}
.img8{
   margin: -3% -1% 7% 0%;
   width: 46%;
  
}
.img9{
    margin: 8%;
}
.img10{
    width: 48%;
    margin-top: -15px;
    margin-bottom: 5%;
    margin-left: 10px;
    margin-right: -3px;
    transition: opacity 250ms linear;
}
.container-box .img10:hover{
    opacity: 1;
    transform: scale(1.1) rotate(-3deg);
}
.container-box:hover img{
    opacity: 0.1;
}
.container-ticket{
    text-align: center;
}
.img11{
    margin-top: 35px;
}
.img12{
    width: 98%;
    margin-top: 25px;
}
.container-chibi{
    text-align: center;
}
.img13{
    margin-top: 35px;
}
.img14{
    margin-top: 25px;
}
h3{
    color: #fff;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10%;
    text-shadow: -1.5px -1.5px 0 #f05411, 1.5px -1.5px 0 #f05411, -1.5px 1.5px 0 #f05411, 1.5px 1.5px 0 #f05411;
}
.container-ticket{
    position: relative;
    text-align: center;
    margin-bottom: 20%;
}
.container-ticket .img12_10k{
    position: absolute;
    transform: translateX(-41%) translateY(-2%) rotate(-22.602deg);
}
.img12_10k{
    width: 45%;
}   
.container-ticket .img12_20k{
    position: absolute;
    transform: translateX(52%) translateY(0%) rotate(22.135deg);
}
.img12_20k{
    width: 45%;
}
.container-ticket .img12_50k{
    transform: translateX(3%) translateY(34%);
    position: relative;
    width: 50%;
}
.container-chibi{
    margin-top: -7%;
}
.img13{
    flex: 1 1 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
}
.container-sec5{
        text-align: center;
        display: block;
}
.img15{
        background-image: url(../img/Frameboard.png);
        height: auto;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding: 43px 23px 37px 23px;
}
.img15{
    width: 100%;
}
.img15_sk{
    width: 100%;
}
.content_tittle{
    color: #fff;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    position: relative;
    list-style: none;
    padding: 2rem 2rem 2rem 2rem;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 5.4rem;
}
.content_tittle li{
    position: relative;
    left: 8%;
    margin-bottom: -9%;
}
.content_tittle li::before{
    position: absolute;
    content: "";
    top: 4px;
    left: -2.7rem;
    height: 1.8rem;
    width: 1.8rem;
    background-color: #fff;
    border-radius: 50%;
}
.content_tittle ::after{
    position: absolute;
    content: "";
    top: -18px;
    left: -2rem;
    height: 221%;
    width: 0.4rem;
    background-color: #fff;
    border-radius: 0.5rem;
}
.container-sec6{
    text-align: center;
    display: block;
}
.img16{
    background-image: url(../img/Frameboard.png);
    height: auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 28px 89px 24px 98px;
    margin-top: 5%;
}
.img16{
    width: 100%;
}
.event{

}
.content-event{
    font-size: 25px;
    font-weight: 900;
    font-style: normal;
    color: #fff;
    background-color: #010d7c;
    padding: 20px 16px;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: 50px;
    max-width: 86%;
    line-height: 2.3;
}

/* footer */

.container-footer{
    background-color: #010d7c;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 0.7rem;
    font-style: normal;
    text-align: center;
    font-weight: 900;
    line-height: normal;
    padding: 0 2rem;
}
.img17{
    margin-top: -2%;
    height: auto;
    max-width: 30%;
}
.content-footer{
    text-align: center;
    
}
p{
    margin-top: 0;
    margin-bottom: 1.2rem;
}


